.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
	outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flexslider .slides {
	zoom: 1;
}

.flexslider {
	cursor: pointer;
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 0;
	width: 100%;
}

.flexslider .slides>li {
	display: none;
	padding: 0;
	margin: 0;
	background: none;
	list-style: none;
	-webkit-backface-visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 100%;
	overflow: hidden;
}

.flexslider .slides>li>a {
	padding: 0;
	margin: 0;
	font-size: 0;
}

.flexslider .slides img {
	width: 100%;
	display: block;
}

.flex-pauseplay span {
	text-transform: capitalize;
}

.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .slides {
	display: block;
}

* html .slides {
	height: 1%;
}

.no-js .slides>li:first-child {
	display: block;
}

.flex-direction-nav {
	*height: 0;
}

.flex-direction-nav a {
	display: block;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	font-size: 10px;
	text-decoration: none;
}

ul.flex-direction-nav {
	padding: 0;
	margin: 0;
}

ul.flex-direction-nav li {
	background: none;
	padding: 0;
	margin: 0;
	list-style: none;
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

.flex-control-nav li {
	margin: 0 5px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	background: none;
}

.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}

.swm-slider-box .flexslider .flex-control-nav li img {
	opacity: 1;
}

.swm-slider-box {
	display: block;
}

.swm-slider-box .flexslider {
	cursor: auto;
	height: 100%;
}

.swm-slider-box .flex-control-nav {
	text-align: right;
	font-size: 0;
	right: 0;
	margin: 0 12px 12px 0;
	z-index: 100;
}

.swm-slider-box .flexslider .flex-control-nav li {
	margin: 0 5px;
}

.swm-slider-box .flexslider .flex-control-nav li a {
	width: 10px;
	height: 10px;
}

.swm-slider-box .flex-direction-nav a {
	display: inline-block;
	margin: -18px 0 0 0;
	width: 38px;
	height: 38px;
	line-height: 38px;
	top: 50%;
	bottom: auto;
	z-index: 100;
	text-align: center;
	text-indent: 0;
}

.swm-slider-box .flex-direction-nav a i {
	margin: 0;
	font-size: 14px;
	line-height: 34px;
}

.swm-slider-box .flex-direction-nav a.flex-next i {
	margin-left: 2px;
}

.swm-slider-box .flex-direction-nav a.flex-prev i {
	margin-left: -2px;
}

.swm-slider-box .flex-direction-nav .flex-next,
.swm-slider-box .flex-direction-nav .flex-prev {
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border-radius: 100px;
}

.swm-slider-box .flex-direction-nav .flex-next {
	right: 25px;
}

.swm-slider-box .flex-direction-nav .flex-prev {
	left: 25px;
}